.ipynb_checkpoints/stepfunction-checkpoint.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SerializeImageData",
  "States": {
    "SerializeImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:247872782925:function:serializeImageData:$LATEST"
      },
      "Next": "InferenceImageData"
    },
    "InferenceImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:247872782925:function:inferenceImageData:$LATEST"
      },
      "Next": "FilterConfidence"
    },
    "FilterConfidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:247872782925:function:filterConfidence:$LATEST"
      },
      "End": true
    }
  }
}